@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap')
body
  display: flex
  justify-content: center
  margin: 0
  font-family: "Roboto Mono", monospace

  .fade-enter
    opacity: 0

    .fade-enter-active
      opacity: 1
      transition: opacity 300ms

    .fade-exit
      opacity: 1

    &-active
      opacity: 0
      transition: opacity 300ms

  .loading-page
    width: 100vw
    height: 100vh
    display: flex
    justify-content: center
    align-items: center

    .ant-spin
      scale: 1.5
      .ant-spin-dot-item
        background-color: #000
